/* Add a black background color to the top navigation */
.topnav{
    background-color: #333;
    overflow: hidden;
}

/* style the links insinde the navigation bar */
.topnav a{
    float: left;  
    /* float ka use sbhi ko ek line me left me rkhne ke liye kiya he */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* <a> jo in line decoration aata he use hta ne ke liye */
    font-size: 17px;

}


/* CHange the color of link on hover */

.topnav a:hover {
    background-color: #ddd;
    color:black;
}

/* Add an active class to highlight the current page */
.topnav a.active{
    background-color:#04aa6d;
    color: white;

}

/* Hide the link that should open and close the topnav on small screen */
.topnav .icon {
    display: none;
}


/* when the screen is less than 600px wide, hide all links, except for the first one ("home").
the link for should open and close the topnav (.icon) */

@media screen and (max-width:600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
} 

/* The "responsive" class is added to the topnav with
 JavaScript when the user clicks on the icon. 
 This class makes the topnav look good on small
 screens (display the links vertically instead of 
 horizontally) */

@media  screen and (max-width:600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    
}